# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/
build/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Misc
.DS_Store
*.pem

# IDE / Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
